@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import "Modal.css";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.CalendarGrid {
    width: 95%;
}

.CalendarGrid td{
    padding-bottom: 20px;
    text-align: center;
}
.CenterWithSides{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: blue;
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {margin: 0px}

.NotesList img {
    max-width: 100%;
}