@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import "Modal.css";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.CalendarGrid {
    width: 95%;
}

.CalendarGrid td{
    padding-bottom: 20px;
    text-align: center;
}
.CenterWithSides{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TaskTable {
    border-collapse:collapse;
    border:1px solid lightgray;
    width: 100%;
}

.TaskTable td{
    border:1px solid lightgray;
    padding: 1px 2px;
}

.TaskTable td:last-child {
    width: 99%;
}