@using NodaTime
@inject ModalService ModalService
<div class="CenterWithSides">
<a @onclick="LastMonth"><span class="oi oi-caret-left" aria-hidden="true"></span></a>
<h3>@BaseDate.ToString("MMMM yyyy", null)</h3>
<a @onclick="NextMonth"><span class="oi oi-caret-right" aria-hidden="true"></span></a>
</div>
<table class="CalendarGrid">
    <tr>
        <th>Sa</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
    </tr>

    @foreach (var week in WeekHeaders(BaseDate))
    {
        <tr>
            @for (int i = 0; i < 7; i++)
            {
                var day = week.PlusDays(i);
                <td><a @onclick="()=>DateSelected(day)">@day.Day</a></td>
            }
        </tr>
    }
</table>

@code {

    [Parameter]
    public LocalDate BaseDate { get; set; }
    [Parameter] 
    public Action<LocalDate>? PickAction { get; set; } 
    
    private IEnumerable<LocalDate> WeekHeaders(LocalDate start)
    {
        var last = start.With(DateAdjusters.EndOfMonth);
        var first = start.With(DateAdjusters.StartOfMonth).With(DateAdjusters.PreviousOrSame(IsoDayOfWeek.Sunday));
        for (LocalDate i = first; i <= last; i = i.PlusDays(7))
        {
            yield return i;
        }
    }

    private void NextMonth() => BaseDate = BaseDate.PlusMonths(1);
    private void LastMonth() => BaseDate = BaseDate.PlusMonths(-1);

    private void DateSelected(LocalDate ld)
    {
        ModalService.Close();
        PickAction?.Invoke(ld);
    }
}