<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <MSDeployServiceURL>https://Planner.drJohnMelville.com:8172/msdeploy.axd?site=Planner.drjohnmelville.com</MSDeployServiceURL>
        <DeployIisAppPath>Planner.drjohnmelville.com</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <UserName>johnmelv</UserName>
        <_SavePWD>False</_SavePWD>
        <TargetFramework>net7.0</TargetFramework>
        <SelfContained>true</SelfContained>
        <_IsPortable>false</_IsPortable>
        <RuntimeIdentifier>win-x86</RuntimeIdentifier>
        <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
        <UserSecretsId>C90B5477-1106-49C7-9D36-A307B07BC3FC</UserSecretsId>
    </PropertyGroup>
</Project>